		<%= stylesheet_link_tag 'custom'%>
<div class="mainpage">
	<div class="depot-form">
		<br><br><br><br><br>
			<center>
			  <fieldset style="width: 70%">
			    <legend><b>Please select admin options</b></legend>
			    <br>
	       <table border="0" cellspacing="0" cellpadding="0" align="center" width="70%">
	       	<tr>
		       	<td>  
							<%= link_to "#{image_tag("add_product.png", :width=>180)}", {:action => 'index', :controller => 'users'} %>       	
		       	</td>
		       	<td>&nbsp;</td>
		       	<td>&nbsp;</td>
		       	<td>&nbsp;</td>
		       	<td>  
							<%= link_to "#{image_tag("Search_menu.png", :width=>180)}", {:action => 'index', :controller => 'stores'} %>       	
						</td>
	       	</tr>
       </table>
			<br>
		</fieldset>
	</center>
	</div>
</div>
