		<%= stylesheet_link_tag 'custom'%>
<br>
<br>
<br>
<br>
<center>
<h1><font face="Georgia" size="16pt">pharmakia POS</font></h1>
<p>
  
 <br><%= loggedIn %>
  
  <br><br>
  
  <%= link_to "Start Demo!", '/admin/login', :class => "signup_button round" %>
</p>
</center>
